body {
    color: rgb(255, 255, 255);
    background: black;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}
header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

Matheus Rogerio/2ºC/23.08.2024

IMG{
    height: 200px;



}
   



.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

section {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}




.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(255, 255, 255);
}

.categoria h2 {
    color: rgb(0, 0, 0);
}
